/* Estilizacao do Site */ /*  */
body {
  background-color: #fdf6f0; /* Cor do fundo */
  color: #333;               /* Cor do texto */
  font-family: 'Verdana', sans-serif; /* Fonte do texto */
  font-size: 16px; /* Tamanho da fonte do texto */
  margin: 0;
  padding: 0;
}
header {
  background-color: #8e44ad; /* Cor do fundo do cabecalho */
  padding: 1em;
  color: white; /* Cor do texto do cabecalho */
  text-align: center; /* Alinhamento do texto do cabecalho */
}
nav {
  /* Barra de navegacao */
  background-color: #9b59b6;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0.8em;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  /* Estilizacao ao passar o mouse por cima */
  text-decoration: underline;
  color: #8e44ad; 
}
main {
  padding: 2em;
}
section img {
  width: 200px;
  margin: 10px;
}
form {
  max-width: 400px;
  margin: 0 auto;
}
form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form input[type="submit"] {
  background-color: #333;
  color: white;
  cursor: pointer;
  border: none;
}
form input[type="submit"]:hover {
  background-color: #555;
}
